{
    "plugins": [
      [
        "@babel/plugin-transform-react-jsx",
        {
          "throwIfNamespace": false
        }
      ],
      
      ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
    ]
  }
  