$chipSize : 320px;
$headingFont: "Fredoka One", Calibri, sans-serif;
@mixin roundIt(){
	border-radius:10px;
}

body {
  background: #222;
  font-family: Calibri, sans-serif;
  color: white;
  text-align: center;
  max-width: max-content;
  min-width:100%;
  margin: 2em auto;
  padding: 3em;
  
}

.title {
  font-family: $headingFont;
  text-transform: uppercase;
  font-weight: normal;
  color:white;
	font-size:2em;
	margin:1em;
}
#levels-screen{	
	min-width:720px;
	width:80%;
	margin:10vh auto;
	h1{
		text-align: center;
	
	}
	li{
		@include roundIt();
		width:$chipSize;
		height:$chipSize*0.7;
		font-family: $headingFont;
		float:left;
		margin:10px;
		line-height:$chipSize*0.7;
		text-align: center;
		font-weight: bold;
		font-size:2.5em;
		text-shadow: 0 2px 0 rgba(black, .3);
		&.locked-level{
			background-color:gray;
		}
		
		
	}
}
.easy{
	background: lightgreen;
}
.medium{
	background: lemonchiffon;
}
.hard{
	background: lightsalmon;
}
.insane{
	background: salmon;
}